#home {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .4)), url('../../assets/img/background.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  

  section {
    background-color: $dark-semi-transparent;
    border-radius: 5px;
    padding: $md $md;
    height: 100%;
    min-width: 200px;
    max-width: 350px;

    // min-width: 200px;
    // max-width: 300px;

    .appLogo {

      font-family: "FontAwesome";
      font-size: 6rem;
      font-weight: 900;
      color: $nice-blue;
      display: inline-block;
      width: 100%;
    }

    .quiz-title {
      font-family: 'Fredoka One';
      font-size: $md2;
      color: $off-white;
      color: white;
      text-align: center;
    }

    .play-button-container {
      
        padding: $lg 0;
      
      width: 100%;
    }

    // .btn {
    //   border: 1px solid #2d6898;
    //   background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    //   background-image: -o-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    //   background-image: -moz-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    //   background-image: -webkit-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    //   background-image: -ms-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);

    //   background-image: -webkit-gradient(linear,
    //       left bottom,
    //       left top,
    //       color-stop(0, rgb(73, 132, 180)),
    //       color-stop(1, rgb(97, 155, 203)));
    // }

    a {
      font-family: 'Fredoka One';
      text-decoration: none;
      text-align: center;
      cursor: pointer;

      -webkit-box-shadow: 0px 3px 0px $btn-shadow;
      -moz-box-shadow: 0px 3px 0px $btn-shadow;
       box-shadow: 0px 3px 0px $btn-shadow;

      &:hover {
        box-shadow: $btn-shadow;
        transition: 0.3s linear all;
      }

      &.play-button {
        background-color: $green;
        color: #fff;
        border-radius: $button-radius;
        padding: $normal;
        display: block;
        cursor: pointer;
        transition: 0.3s linear all;

        &:hover {
          background-color: darken($green, 10%);
        }
      }

      &#login-button {
        background-color: $red;

        &:hover {
          background-color: darken($red, 10%);
        }
      }

      &#signup-button {
        background-color: $nice-blue;

        &:hover {
          background-color: darken($nice-blue, 10%);
        }
      }
    }

    .auth-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: $md;

      .auth-buttons {
        color: #fff;
        border-radius: $button-radius;
        padding: $normal 0;
        width: 45%;
      }
    }
  }
}

@media (max-width: $md-breakpoint) {
  #home section {
    padding: $lg $lg;
    width: 100%;
    height: 100%;
  }

  .play-button-container {
    padding: $lg 0;
  }
}