.questions {
  background-color: $off-white;
  border-left: 5px solid $nice-blue;
  width: 80%;
  margin: $lg auto 0 auto;
  padding: $sm $md;
  font-family: 'Fredoka One';

  h2 {
    text-align: center;
    font-weight: lighter;
  }

  .icons{
    cursor: pointer;
  }
  #hints-icon {
    @include style-icon(orange);
  }
  #fifty-fifty-icon {
    @include style-icon(green);
  }
  #timer-icon {
    margin-left: 1.2rem;
    @include style-icon(blue);
   
  }

  .lifeline-no {
    font-size: 2rem;
    position: relative;
    margin-left: .5rem;
    top: -6px;
  }

  .lifeline-container, .info-container {
    display: flex;
    justify-content: space-between;
  
    #question-counter {
      position: relative;
      top: 10px;
      font-size: 2rem;
    }
    #timer-no {
      position: relative;
      font-size: 2rem;
      top: -.5rem;
    }
  }
 

  .question {
    font-size: 1.5rem;
    margin-top: $lg;
    margin-bottom: $normal;
    line-height: 1.5;
    text-align: center;
  }

  .options-container {
    display: inline-block;
    width: 45%;
    margin: 10px;
  }
  .option {
    background-color: $nice-blue;
    border-radius: $button-radius;
    color: $off-white;
    cursor: pointer;
    margin: $md auto;
    padding: $md;
    transition: .3s linear all;
    text-align: center;
    width: 90%;
    height: 6rem;
    

    &:hover {
      background-color: darken($nice-blue, 20%);
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;

    button {
      border: none;
      color: $off-white;
      cursor: pointer;

      margin-right: $md;
      padding: $xs $sm;
    }

    // Previous Button
    button:first-child {
      @include set-nav-btn($nice-blue);

      &:disabled {
        background-color: #333;
        color: grey;
        box-shadow: none;
      }
    }
    // Next Button
    button:nth-child(2) {
      @include set-nav-btn($green);

      &:disabled {
        background-color: #333;
        color: grey;
        box-shadow: none;
      }
    }
    // Quit Button
    button:nth-child(3) {
      @include set-nav-btn($red)
    }
  }
}