.instructions {
  border: 2px solid darken($off-white, 20%);
  border-radius: 5px;
  margin: $lg $sm;
  padding: $sm $lg;
  background: $off-white;
  font-size: 1.2rem;

  #main-list, #sublist {
    list-style: none;
  }

  h1 {
    color: $off-black;
    font-size: $md;
    text-align: center;
    padding: 20px;
    font-family: 'Fredoka One';
  }

  .lifeline {
    position: relative;
    top: -3px;
  }

  .lifeline-icon {
    color: $green;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 30px;
    margin: 10px 15px 0;
  }

  img {
    width: 80%;
    height: 50%;
  }

  .btn-container {
    display: flex;
    margin: 0 auto $sm auto;
    padding: $xlg $lg 0 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    

    a {
      border: none;
      color: $off-white;
      cursor: pointer;
      margin-right: $md;
      padding: $md $sm;
      text-decoration: none;  
      font-family: 'Fredoka One';  
       
      width: 130px;
    }

    .back-to-main-menu-btn {
      @include set-nav-btn($nice-blue);
      padding: $sm;
    }
    .play-quiz-btn {
      @include set-nav-btn($green);
      padding: $sm;
    }
  // .back-to-main-menu-btn, .play-quiz-btn {

  // }
}

@media (max-width: $md-breakpoint) {
  .instructions img {
    width: 100% !important;
    height: 150% !important;
  }
}
}