@import './base/settings.scss';
@import './base/base.scss';
@import './components/home.scss';
@import './components/play.scss';
@import './components/quiz-instructions.scss';
@import './components/quiz-summary.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $off-white
}

.faIcon {
  font-family: "FontAwesome";
  font-size: 10rem;
  font-weight: 900;
}