.home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.4)
    ),
    url('../../assets/img/background.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 5rem;

  .menu {
    background-color: $dark-semi-transparent;
    border-radius: 1rem;
    padding: $md $md;
    height: 100%;
    width: 27rem;
    // min-width: 200px;
    // max-width: 350px;

    .appLogo {
      font-family: 'FontAwesome';
      font-size: 6rem;
      font-weight: 900;
      color: $nice-blue;
      display: inline-block;
      width: 100%;
    }

    .quiz-title {
      font-family: $main-font;
      font-size: $md2;
      color: $off-white;
      color: white;
      text-align: center;
    }

    .play-button-container {
      padding: $lg 0;

      width: 100%;

      p.quiz-title {
        font-size: 1rem;
        color: $off-white;
      }
    }

    a {
      font-family: $main-font;
      text-decoration: none;
      text-align: center;
      cursor: pointer;

      -webkit-box-shadow: 0px 3px 0px $btn-shadow;
      -moz-box-shadow: 0px 3px 0px $btn-shadow;
      box-shadow: 0px 3px 0px $btn-shadow;

      &:hover {
        box-shadow: $btn-shadow;
        transition: 0.3s linear all;
      }

      &#login-button {
        background-color: $red;

        &:hover {
          background-color: darken($red, 10%);
        }
      }

      &#signup-button {
        background-color: $nice-blue;

        &:hover {
          background-color: darken($nice-blue, 10%);
        }
      }

      // &.play-button {
      //   background-color: $green;
      //   color: #fff;
      //   border-radius: $button-radius;
      //   padding: $normal;
      //   display: block;
      //   cursor: pointer;
      //   transition: 0.3s linear all;

      //   &:hover {
      //     background-color: darken($green, 10%);
      //   }
      // }

      &.small-btn {
        background-color: $green;
        color: #fff;
        border-radius: .25rem;
        padding: 1.2rem;
        margin: 1.1rem;
        display: inline-block;
      }

    }

    .auth-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: $lg;

      .auth-buttons {
        color: #fff;
        border-radius: $button-radius;
        padding: $normal 0;
        width: 45%;
      }
    }
  }
}

@media (max-width: $xs-breakpoint) {
  .home {
    padding: 0;
    .menu {
      padding: $xlg;
      width: 100%;
      height: 100%;

      background-color: $dark-semi-transparent;
      border-radius: 5px;
      height: 100%;
      width: 100%;

      .play-button-container {
        padding: $lg 0;
        color: blue;
  
        width: 100%;
  
        p.quiz-title {
          font-size: 1rem;
          color: $off-white;
        }
      }
      // .play-button-container {
      //   padding: $xxlg $sm;
      //   .play-button {
      //     height: 6rem;
      //     padding: $sm;
      //     height: 6rem;
      //     font-size: 2rem;
      //   }
      // }
    }
    
  }
}

@media (max-width: $sm-breakpoint) {
  .home .menu {
    padding: $lg $lg;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .play-button-container {
      padding: $lg 0;
      width: 100%;

      .quiz-group {
        padding: 2em .2em;
        
      }

      p.quiz-title {
        font-size: 1.3rem;
        color: $off-white;
        padding: $lg 0 auto;
      }
    }

    a.small-btn {
      background-color: $green;
      color: #fff;
      border-radius: .25em;
      padding: 1.2em;
      margin: 1em;
      display: inline-block;
    }
  }
}

// @media (min-width: $lg-breakpoint) {
//   .menu {
//     padding: 0;
//     width: 80%;
//     height: 100%;
//   }

//   .play-button-container {
//     padding: $sm 0;
//   }

  
// }