

@mixin set-nav-btn($color) {
  background-color: darken($color, 10%);
  box-shadow: $btn-shadow;
  transition: 0.2s linear all;
  &:hover {
    background-color: darken($color, 20%);
  }
}

@mixin style-icon($color, $hover) {
  font-size: 3rem;
  color: darken($color, 10%);
  transition: 0.2s linear all;
  @if $hover {
    &:hover {
      color: lighten($color, 30%);
      transform: scale(1.5);
    }
  }
}

.quiz {
  background-color: $off-white;
  border-left: 5px solid $nice-blue;
  width: 90%;
  margin: $lg auto;
  padding: $xs;
  font-family: $main-font;

  .quiz-title {
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
  }

  .icons {
    cursor: pointer;
    
    &.empty {
      color: grey;
    }
  }
  .hints-icon {
    &:not(.empty) {
      @include style-icon(orange, true);
    }
  }
  .fifty-fifty-icon {
    &:not(.empty) {
      @include style-icon(green, true);
    }
  }
  .timer-icon {
    margin-left: 1.2rem;
    @include style-icon(blue, false);
  }

  .lifeline-no {
    font-size: 2rem;
    position: relative;
    margin-left: 0.5rem;
    top: -6px;
  }

  .lifeline-container,
  .info-container {
    display: flex;
    justify-content: space-between;

    #question-counter {
      position: relative;
      top: 10px;
      font-size: 2rem;
    }
    #timer-no {
      position: relative;
      font-size: 2rem;
      top: -0.5rem;
    }
  }

  .question {
    font-size: 1.5rem;
    margin-top: $lg;
    margin-bottom: $normal;
    line-height: 1.5;
    text-align: center;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    // display: flex;
    // flex: 50%;
    // width: 40%;
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }




    .option {
      background-color: $nice-blue;
      border-radius: $button-radius;
      color: $off-white;
      cursor: pointer;
      margin: $md auto;
      padding: $md;
      transition: 0.3s linear all;
      text-align: center;
      font-size: 1rem;
      width: 90%;
      height: 8rem;
      
      

    &:not(.wrongAnswer):hover {
      background-color: darken($nice-blue, 20%);
    }
    
    &.wrongAnswer {
      background-color: red;
    }      
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;

    button {
      border: none;
      color: $off-white;
      cursor: pointer;

      margin-right: $md;
      padding: $xs $sm;
    }

    // Previous Button
    button:first-child {
      @include set-nav-btn($nice-blue);

      &:disabled {
        background-color: #333;
        color: grey;
        box-shadow: none;
      }
    }
    // Next Button
    button:nth-child(2) {
      @include set-nav-btn($green);

      &:disabled {
        background-color: #333;
        color: grey;
        box-shadow: none;
      }
    }
    // Quit Button
    button:nth-child(3) {
      @include set-nav-btn($red);
    }
  }


}

@media (max-width: $xs-breakpoint) {
  .quiz {
    border-left: none;
    margin: $xs auto 0 auto;
    padding: 0;

    .top-panel {
      background-color: rgba(0, 0, 255, 0.1);
      border-radius: 1rem;
      padding: 0.5rem;

      #fifty-fifty-icon, #hints-icon, #timer-icon  {
        font-size: 3rem;
      }

      .lifeline-no {
        font-size: 1.5rem;
      }

      .info-container {
        display: flex;
        justify-content: space-between;

        #question-counter,
        #timer-no {
          position: relative;
          font-size: 1.2rem;
        }
        #question-counter {
          margin-left: 2rem;
          top: 0.5rem;
        }
        #timer-no {
          top: -1.2rem;
        }
      }
    }

    .question {
      margin-top: $normal;
      font-size: .9rem;
    }
    .options-container {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;

      .option {
        margin: $xs auto;
        padding: 1.7em 0 0 0;
        transition: 0.3s linear all;
        width: 100%;
        height: 6em;
        
        font-size: 0.8em;
      }
    }
    .options-container2 {
      .option:nth-child(1) {
        margin: 0;
      }
    }
  }
}
// @media (max-width: $lg-breakpoint) {

//   .quiz {
//     background-color: $off-white;
//     border-left: none;
//     width: 90%;
//     margin: $md $sm;
//     // padding: $xs;
//     font-family: $main-font;


//     .option {
//       -moz-box-sizing: border-box;
//       -webkit-box-sizing: border-box;
//       box-sizing: border-box;
//     }
//   }
// }


