.instructions {

  width: 100%;
  border: 4px solid darken($off-white, 20%);
  border-radius: 5px;
  margin: $xs;
  padding: $sm;
  background: $off-white;
  font-size: 1.2rem;


  #main-list, #sublist {
    list-style: none;
  }

  h1 {
    color: $off-black;
    font-size: $md;
    text-align: center;
    font-family: $main-font;
  }

  .lifeline {
    position: relative;
    top: -3px;
  }

  .lifeline-icon {
    color: $green;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 10px;
    margin: 10px 15px 0;
  }

  img {
    width: 80%;
    height: 50%;
  }

  .btn-container {
    display: flex;
    margin: 0 auto $sm auto;
    padding: $xlg $lg 0 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    

    a {
      border: none;
      color: $off-white;
      cursor: pointer;
      margin-right: $md;
      text-decoration: none;  
      font-family: $main-font;
      width: 130px;
      margin: auto;
      text-align: center;
    }

    .back-to-main-menu-btn {
      @include set-nav-btn($nice-blue);
      padding: $sm;
    }
    .play-quiz-btn {
      @include set-nav-btn($green);
      padding: $sm;
      
    }
  // .back-to-main-menu-btn, .play-quiz-btn {

  // }
}

@media (max-width: $md-breakpoint) {
  h1 {
    margin: $sm;
  }
  

  .browser-default {
    padding-left: 5px;
    margin: 10px 15px 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
}
}